body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#bootstrap-override {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 7.5px 20px 10px 7.5px;
}

.input-validation-error {
    border: 1px solid red;
}

#container {
     background-image: url('/content/images/moviereel.png');
    background-repeat: no-repeat;
    position: relative;
}
