@model DVDLibrary.UI.Models.AddDVDVM

@{
    ViewBag.Title = "Give Patty Data";
}

<h2>Give Patty Data</h2>

<p>We added your movie, YO!!</p>

<p>MovieID: @Model.Movie.MovieTitle</p>
<p>MoviePK: @Model.Movie.MovieId</p>

