@model DVDLibrary.Models.Movie

@{
    ViewBag.Title = "SuccessfullyAddedNewMovie";
}

<h2>Successfully Added New Movie</h2>

<p>You have added @Model.MovieTitle to your collection with the new MovieID of @Model.MovieId!!</p>

