<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Setup" connectionString="Server=DEAN-WIN;User=sa;Password=sqlserver;Database=master;"/>
    <add name="DVDLibrary" connectionString="Server=DEAN-WIN;User=sa;Password=sqlserver;Database=TestDVDLibrary;"/>
  </connectionStrings>
</configuration>