<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DVDLibrary"
         connectionString="Server=MS-STDN-010\SQL2014;User=sa;Password=sqlserver;
                             Database=DVDLibrary;"/>
  </connectionStrings>
</configuration>