@model DVDLibrary.Models.Borrower

@{
    ViewBag.Title = "AddBorrowerPost";
}

<h2>Borrower Information: </h2>

<div>
    <p><em>First Name:</em> @Model.FirstName <em>Last Name:</em> @Model.LastName</p>
    <p><em>Email:</em> @Model.Email <em>Phone:</em> @Model.Phone</p>
</div>

