@{
    ViewBag.Title = "SearchForMovie";
}

<h2>Search For Movie</h2>

@using (Html.BeginForm("SearchForMoviePost", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Movie ID</label>
        <input class="form-control" type="text" name="movieID"/>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
}