@using System.Web.Script.Services
@model List<DVDLibrary.Models.Movie>
@{
    ViewBag.Title = "View All Movies In Collection";
}

<h2>View All Movies In Your Collection</h2>

<div class="form-group">
    <input id="search" name="search" class="form-control" type="text" placeholder="Filter Movie Titles Here..." data-list=".list">
</div>
<br/>
<div class="row">
    <div class="list-group list-inline list">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i % 3 != 2)
            {
                <a class="list-group-item col-xs-4 text-center" href="/Home/SelectMovie/@Model[i].MovieId">
                    <b>@Model[i].MovieTitle</b> (@Model[i].ReleaseDate.Year)
                </a>
            }
            else
            {
                <a class="list-group-item col-xs-4 text-center" href="/Home/SelectMovie/@Model[i].MovieId">
                    <b>@Model[i].MovieTitle</b> (@Model[i].ReleaseDate.Year)
                </a>
                <div class="clearfix"></div>
            }

        }
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.hideseek.js"></script>
    <script src="~/Scripts/app/mySearch.js"></script>
}
