@using DVDLibrary.Models
@model List<Movie>
@{
    ViewBag.Title = "ViewAllDvds";
}

<h2>View All Dvds</h2>

@*<button class="btn-primary">Add DVD</button>*@

@Html.ActionLink("Add A DVD","AddDvd", "Home")

@foreach (Movie movie in Model)
{
    <ul class="list-group">
        @*<li class="list-group-item">
            @movie.MovieId
        </li>*@
        <a href ="/Home/SelectDvd/@movie.MovieId"><li class="list-group-item">
            @movie.MovieTitle
        </li></a>
        @*<li class="list-group-item">
            @movie.MpaaRating
        </li>*@
    </ul>
}


